.button {
    padding: 14px 21px;
    border-radius: 16px;
}

.button:hover {
    filter: brightness(0.8);

}


.button.matrix {
    background-color: var(--blue-400);
    transition: .4s;
}
.button.transparent {
    background-color: transparent;
    color: var(--white-100);
}