.header {
    position: relative;
    height: 720px;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}


.headings-header {
    height: 100%;
    margin-left: 40px;
    z-index: 2;
}
.heading-header-title {
    position: relative;
    word-wrap: break-word;
    font-size: 1.2rem;
    color: var(--blue-400);
    margin-left: 4rem;
    padding-right: 7rem;
    width: 100%;
}
.heading-header-title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -70px;
    width: 4rem;
    height: 0.2rem;
    background-color: var(--blue-400);
}
.heading-header-title::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -28px;
    transform: translateY(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: var(--blue-400);
    box-shadow: 0 0 1px 3px var(--dark-900);
    border-radius: 4px;
}
.heading-header-second-title {
    color: var(--white-100);
    font-size: 2.3rem;
    margin-top: 30px;
    font-weight: bolder;
    line-height: 50px;
    width: 100%;

}
.heading-header-second-title span {
    color: var(--blue-white-100);

}

