.gallery-setting {
    width: 100%;
    margin-bottom: 40px;
}

.gallery-setting h1,
.sec-title,
.trd-title {
    color: var(--blue-white-100);
    font-size: 2rem;
    font-weight: bold;
}

.trd-title {
    text-align: end;
    margin-bottom: 2rem;
}

.T3Modules {
    margin-bottom: 10rem;
}

@media screen and (max-width: 1000px) {

    .sec-title,
    .trd-title {
        font-size: x-large;
    }

    .trd-title {
        visibility: hidden;
    }
}